@using BugTracker.Models
@model TicketDetailsViewModel

@{ 
    UserRoleHelper RoleHelper = new UserRoleHelper();
    ProjectsHelper ProjectHelper = new ProjectsHelper();

}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark" style="font-weight: bold; font-size: 300%">@Model.Ticket.Title Details</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Your Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div>
                    <div class="accordion" id="ticketAccordion">


                        @if (Model.UserRole == "Admin" || Model.UserRole == "Manager")
                        {
                            if (Model.Ticket.AssignedToUser != null)
                            {
                                <div class="info-box mb-3 bg-green">
                                    <span class="info-box-icon bg-white elevation-1"><i class="fas fa-laptop" style="color: #208637"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text" style="font-size: large; font-weight: bold">Assigned Developer:</span>
                                        <span class="info-box-text">@Model.Ticket.AssignedToUser.DisplayName</span>
                                    </div>
                                    <i class="fas fa-plus-circle float-right"></i>
                                    <!-- /.info-box-content -->
                                </div>
                            }
                            else
                            {
                                <div class="info-box mb-3">
                                    <span class="info-box-icon bg-red elevation-1"><i class="fas fa-exclamation"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text" style="font-size: large; font-weight: bold">Assign Developer:</span>
                                        <span class="info-box-text">Click to assign a developer</span>
                                    </div>
                                    <i class="fas fa-plus-circle float-right"></i>
                                    <!-- /.info-box-content -->
                                </div>
                            }
                            <div id="statusHeader" class="info-box mb-3" style="cursor: pointer" data-target="#statusCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="statusCollapse">
                                <span id="statusBgSpan" class="info-box-icon elevation-1 bg-gray"><i id="statusIcon" class="iStatusClass"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text" style="font-size: large; font-weight: bold">Status:</span>
                                    <span id="statusSpan" class="info-box-text"></span>
                                </div>
                                <i class="fas fa-chevron-down float-right"></i>
                                <!-- /.info-box-content -->
                            </div>
                            <div id="statusCollapse" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#ticketAccordion">
                                <div style="padding-left: 20%">
                                    <a class="aStatusClass" onclick="editTicketStatus(@Model.TicketStatuses.FirstOrDefault(t => t.Name == "Resolved").Id)" style="color:black; cursor:pointer">
                                        <div id="headingOne" class="info-box mb-3" style="cursor: pointer" data-target="#statusCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                            <span class="info-box-icon bg-green elevation-1"><i class="fas fa-check-double iStatusClass"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text" style="font-size: large; font-weight: bold">Resolved</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                                <div style="padding-left: 20%">
                                    <a class="aStatusClass" onclick="editTicketStatus(@Model.TicketStatuses.FirstOrDefault(t => t.Name == "Assigned").Id)" style="color:black; cursor:pointer">
                                        <div id="headingOne" class="info-box mb-3" style="cursor: pointer" data-target="#statusCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                            <span class="info-box-icon bg-yellow elevation-1"><i class="fas fa-check iStatusClass"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text" style="font-size: large; font-weight: bold">Assigned</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                                <div style="padding-left: 20%">
                                    <a class="aStatusClass" onclick="editTicketStatus(@Model.TicketStatuses.FirstOrDefault(t => t.Name == "Unassigned").Id)" style="color:black; cursor:pointer">
                                        <div id="headingOne" class="info-box mb-3" style="cursor: pointer" data-target="#statusCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                            <span class="info-box-icon bg-red elevation-1"><i class="fas fa-exclamation-triangle iStatusClass"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text" style="font-size: large; font-weight: bold">Unassigned</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                                <div style="padding-left: 20%">
                                    <a class="aStatusClass" onclick="editTicketStatus(@Model.TicketStatuses.FirstOrDefault(t => t.Name == "Archived").Id)" style="color:black; cursor:pointer">
                                        <div id="headingOne" class="info-box mb-3" style="cursor: pointer" data-target="#statusCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                            <span class="info-box-icon bg-gray elevation-1"><i class="fas fa-archive iStatusClass"></i></span>
                                            <div class="info-box-content">
                                                <span class="info-box-text" style="font-size: large; font-weight: bold">Archived</span>
                                            </div>
                                            <!-- /.info-box-content -->
                                        </div>
                                    </a>
                                </div>
                            </div>
                        }


                        <div id="priorityHeader" class="info-box mb-3" style="cursor: pointer" data-target="#priorityCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="priorityCollapse">
                            <span id="priorityBgSpan" class="info-box-icon elevation-1 bg-gray"><i class="iTypeClass" id="priorityIcon"></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text" style="font-size: large; font-weight: bold">Priority:</span>
                                <span id="prioritySpan" class="info-box-text"></span>
                            </div>
                            <i class="fas fa-chevron-down float-right"></i>
                            <!-- /.info-box-content -->
                        </div>
                        <div id="priorityCollapse" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#ticketAccordion">
                            <div style="padding-left: 20%">
                                <a class="aPriorityClass" onclick="editTicketPriority(@Model.TicketPriorities.FirstOrDefault(p => p.Name == "Low").Id)" style="color:black; cursor:pointer">
                                    <div id="headingTwo" class="info-box mb-3" style="cursor: pointer" data-target="#priorityCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-yellow elevation-1"><i class="fas fa-angle-up iPriorityClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">Low</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a class="aPriorityClass" onclick="editTicketPriority(@Model.TicketPriorities.FirstOrDefault(p => p.Name == "Medium").Id)" style="color:black; cursor:pointer">
                                    <div id="headingTwo" class="info-box mb-3" style="cursor: pointer" data-target="#priorityCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-orange elevation-1"><i class="fas fa-angle-double-up iPriorityClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">Medium</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a class="aPriorityClass" onclick="editTicketPriority(@Model.TicketPriorities.FirstOrDefault(p => p.Name == "High").Id)" style="color:black; cursor:pointer">
                                    <div id="headingTwo" class="info-box mb-3" style="cursor: pointer" data-target="#priorityCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-red elevation-1"><i class="fas fa-exclamation-triangle iPriorityClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">High</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div id="typeHeader" class="info-box mb-3" style="cursor: pointer" data-target="#typeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="typeCollapse">
                            <span id="typeBgSpan" class="info-box-icon elevation-1 bg-gray"><i id="typeIcon" class=""></i></span>
                            <div class="info-box-content">
                                <span class="info-box-text" style="font-size: large; font-weight: bold">Type:</span>
                                <span id="typeSpan" class="info-box-text"></span>
                            </div>
                            <i class="fas fa-chevron-down float-right"></i>
                            <!-- /.info-box-content -->
                        </div>
                        <div id="typeCollapse" class="collapse" aria-labelledby="headingThree"
                             data-parent="#ticketAccordion">
                            <div style="padding-left: 20%">
                                <a class="aTypeClass" onclick="editTicketType(@Model.TicketTypes.FirstOrDefault(p => p.Name == "Feature Request").Id)" style="color:black; cursor:pointer">
                                    <div id="headingThree" class="info-box mb-3" style="cursor: pointer" data-target="#typeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-green elevation-1"><i class="fas fa-hand-paper iTypeClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">Feature Request</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a class="aTypeClass" onclick="editTicketType(@Model.TicketTypes.FirstOrDefault(p => p.Name == "UI").Id)" style="color:black; cursor:pointer">
                                    <div id="headingThree" class="info-box mb-3" style="cursor: pointer" data-target="#typeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="typeCollapse">
                                        <span class="info-box-icon bg-yellow elevation-1"><i class="fas fa-mouse-pointer iTypeClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">UI</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a class="aTypeClass" onclick="editTicketType(@Model.TicketTypes.FirstOrDefault(p => p.Name == "Server").Id)" style="color:black; cursor:pointer">
                                    <div id="headingThree" class="info-box mb-3" style="cursor: pointer" data-target="#typeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-orange elevation-1"><i class="fas fa-server iTypeClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">Server</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                            <div style="padding-left: 20%">
                                <a class="aTypeClass" onclick="editTicketType(@Model.TicketTypes.FirstOrDefault(p => p.Name == "Defect").Id)" style="color:black; cursor:pointer">
                                    <div id="headingThree" class="info-box mb-3" style="cursor: pointer" data-target="#typeCollapse" data-toggle="collapse" aria-expanded="true" aria-controls="roleCollapse">
                                        <span class="info-box-icon bg-red elevation-1"><i class="fas fa-exclamation-triangle iTypeClass"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text" style="font-size: large; font-weight: bold">Defect</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 10%">
                    <div class="col">
                        <div class="info-box mb-3 bg-yellow">
                            <i class="fas fa-arrow-circle-up fa-2x" style="display: flex;justify-content: center;align-items: center;padding-left: 5%"></i>
                            <div class="info-box-content">
                                <span class="info-box-number" style="text-align: center; padding-right: 10%">Upload<br />Attachments</span>
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="info-box mb-3 bg-green">
                            <i class="fas fa-arrow-circle-down fa-2x" style="display: flex;justify-content: center;align-items: center;padding-left: 5%"></i>
                            <div class="info-box-content">
                                <span class="info-box-number" style="text-align: center">Download<br />Attachments</span>
                            </div>
                            <h1 style="font-weight:bold; display: flex;justify-content: center;align-items: center;padding-right: 5%">5</h1>
                            <!-- /.info-box-content -->
                        </div>
                    </div>
                </div>
                <div>
                    <div class="info-box mb-3 bg-red">
                        <span class="info-box-icon bg-white elevation-1"><i class="fas fa-edit" style="color: #c62232"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text" style="font-size: large; font-weight: bold">Edit Ticket:</span>
                            <span class="info-box-text">Click here to edit the ticket</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-widget">
                    <div class="card-header">
                        <div class="user-block">
                            <img class="img-circle" src="../dist/img/user1-128x128.jpg">
                            <span class="username"><a href="#">AUTHODDISPLAYNAME</a></span>
                            <span class="description">CREATEDDATE</span>
                        </div>
                        <!-- /.user-block -->
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <p>@Model.Ticket.Description</p>
                        <span class="float-right text-muted">1 comment</span>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer card-comments">
                        <div class="card-comment">
                            <!-- User image -->
                            <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg">
                            <div class="comment-text">
                                <span class="username">
                                    AUTHODDISPLAYNAME
                                    <span class="text-muted float-right">COMMENTCREATEDDATE</span>
                                </span><!-- /.username -->
                                <div>
                                    <button class="float-right btn btn-danger">Delete</button>
                                    <button class="float-right btn btn-warning">Edit</button>
                                </div>
                                This is a comment on this ticket
                            </div>

                            <!-- /.comment-text -->
                        </div>
                    </div>
                    <!-- /.card-footer -->
                    <div class="card-footer">
                        <form action="#" method="post">
                            <img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg">
                            <!-- .img-push is used to add margin to elements next to floating images -->
                            <div class="img-push">
                                <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                            </div>
                        </form>
                    </div>
                    <!-- /.card-footer -->
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal -->
    
</section>

@section scripts {


    <script>
        $(document).ready(loadTicketData());

        function editTicketStatus(statusId) {
            $.ajax({
                type: "POST",
                url: "https://localhost:44301/Tickets/EditStatus/",
                data: {
                        "id": @Model.Ticket.Id,
                        "statusId": statusId
                },
                success: function () {
                }
                });
        }

        function editTicketPriority(priorityId) {
            $.ajax({
                type: "POST",
                url: "https://localhost:44301/Tickets/EditPriority/",
                data: {
                        "id": @Model.Ticket.Id,
                        "priorityId": priorityId
                },
                success: function () {
                }
                });
        }

        function editTicketType(typeId) {
            $.ajax({
                type: "POST",
                url: "https://localhost:44301/Tickets/EditType/",
                data: {
                        "id": @Model.Ticket.Id,
                        "typeId": typeId
                },
                success: function () {
                }
                });
        }

        

        function loadTicketData() {
            var status = "@Model.Ticket.TicketStatus.Name";
            var statusIcon = ""
            var statusBg = ""

            if (status == "Resolved") {
                statusIcon = "fas fa-check-double"
                statusBg = "info-box-icon elevation-1 bg-green"
            } else if (status == "Assigned") {
                statusIcon = "fas fa-check"
                statusBg = "info-box-icon elevation-1 bg-yellow"
            } else if (status == "Unassigned") {
                statusIcon = "fas fa-exclamation-triangle"
                statusBg = "info-box-icon elevation-1 bg-red"
            } else if (status == "Archived") {
                statusIcon = "fas fa-archive"
                statusBg = "info-box-icon elevation-1 bg-gray"
            }

            $("#statusBgSpan").removeClass();
            $("#statusIcon").removeClass();
            $("#statusSpan").text("");

            $("#statusBgSpan").addClass(statusBg);
            $("#statusIcon").addClass(statusIcon);
            $("#statusSpan").text(status);



            var priority = "@Model.Ticket.TicketPriority.Name";
            var priotityIcon = ""
            var priorityBg = ""

            if (priority == "Low") {
                priotityIcon = "fas fa-angle-up"
                priorityBg = "info-box-icon elevation-1 bg-yellow"
            } else if (priority == "Medium") {
                priotityIcon = "fas fa-angle-double-up"
                priorityBg = "info-box-icon elevation-1 bg-orange"
            } else if (priority == "High") {
                priotityIcon = "fas fa-exclamation-triangle"
                priorityBg = "info-box-icon elevation-1 bg-red"
            }

            $("#priorityBgSpan").removeClass();
            $("#priorityIcon").removeClass();
            $("#prioritySpan").text("");

            $("#priorityBgSpan").addClass(priorityBg);
            $("#priorityIcon").addClass(priotityIcon);
            $("#prioritySpan").text(priority);


            var type = "@Model.Ticket.TicketType.Name";
            var typeIcon = ""
            var typeBg = ""

            if (type == "Feature Request") {
                typeIcon = "fas fa-hand-paper"
                typeBg = "info-box-icon elevation-1 bg-green"
            } else if (type == "UI") {
                typeIcon = "fas fa-mouse-pointer"
                typeBg = "info-box-icon elevation-1 bg-yellow"
            } else if (type == "Server") {
                typeIcon = "fas fa-server"
                typeBg = "info-box-icon elevation-1 bg-orange"
            } else if (type == "Defect") {
                typeIcon = "fas fa-exclamation-triangle"
                typeBg = "info-box-icon elevation-1 bg-red"
            }

            $("#typeBgSpan").removeClass();
            $("#typeIcon").removeClass();
            $("#typeSpan").text("");

            $("#typeBgSpan").addClass(typeBg);
            $("#typeIcon").addClass(typeIcon);
            $("#typeSpan").text(type);
        }

        $(".aStatusClass").on("click", function () {
            var icon = $(this).find(".iStatusClass").attr("class").replace("iStatusClass", "");
            var bgColor = $(this).find(".elevation-1").attr("class");
            var text = $(this).find(".info-box-content > span").text();
            var bgClass = $("#statusBgSpan").attr("class");
            $("#statusBgSpan").removeClass(bgClass);
            $("#statusBgSpan").addClass(bgColor);

            var icoClass = $("#statusIcon").attr("class");
            $("#statusIcon").removeClass(icoClass);
            $("#statusIcon").addClass(icon);
            $("#statusSpan").text(text);
        })

        $(".aPriorityClass").on("click", function () {
            var icon = $(this).find(".iPriorityClass").attr("class").replace("iPriorityClass", "");
            var bgColor = $(this).find(".elevation-1").attr("class");
            var text = $(this).find(".info-box-content > span").text();
            var bgClass = $("#priorityBgSpan").attr("class");
            $("#priorityBgSpan").removeClass(bgClass);
            $("#priorityBgSpan").addClass(bgColor);

            var icoClass = $("#priorityIcon").attr("class");
            $("#priorityIcon").removeClass(icoClass);
            $("#priorityIcon").addClass(icon);
            $("#prioritySpan").text(text);
        })

        $(".aTypeClass").on("click", function () {
            var icon = $(this).find(".iTypeClass").attr("class").replace("iTypeClass", "");
            var bgColor = $(this).find(".elevation-1").attr("class");
            var text = $(this).find(".info-box-content > span").text();
            var bgClass = $("#typeBgSpan").attr("class");
            $("#typeBgSpan").removeClass(bgClass);
            $("#typeBgSpan").addClass(bgColor);

            var icoClass = $("#typeIcon").attr("class");
            $("#typeIcon").removeClass(icoClass);
            $("#typeIcon").addClass(icon);
            $("#typeSpan").text(text);
        })

    </script>

}
