@using BugTracker.Models
@model UserViewModel


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">@Model.User.DisplayName's Profile</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Your Dashboard</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <div class="card card-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-success">
                        <h3 class="widget-user-username">@Model.User.FirstName @Model.User.LastName (@Model.User.DisplayName)</h3>
                        <h5 class="widget-user-desc">@Model.UserRoles[0]</h5>
                    </div>
                    <div class="widget-user-image">
                        <img class="img-circle elevation-2" src="file://C:/Users/mattp/Desktop/Resources/AdminLTE-3.0.0-rc.5/dist/img/user1-128x128.jpg">
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-6 border-right">
                                <div class="description-block">
                                    <h5 class="description-header">@Model.Projects.Count()</h5>
                                    <span class="description-text">PROJECTS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                            <!-- /.col -->
                            <div class="col-sm-6">
                                <div class="description-block">
                                    <h5 class="description-header">@Model.Tickets.Count()</h5>
                                    <span class="description-text">TICKETS</span>
                                </div>
                                <!-- /.description-block -->
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-edit"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Add to Project</span>
                    </div>
                    <i class="fas fa-plus-circle float-right"></i>
                    <!-- /.info-box-content -->
                </div>
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-ticket-alt"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Assign a Ticket</span>
                    </div>
                    <i class="fas fa-plus-circle float-right"></i>
                    <!-- /.info-box-content -->
                </div>
                <a id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Change Role</span>
                        </div>
                        <i class="fas fa-chevron-down float-right"></i>
                    </div>
                    <!-- /.info-box-content -->
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href=@Url.Action("ChangeRole", "Account", new { id = Model.User.Id, role = "Admin"})> Admin<i class="fas fa-user-tie float-right"></i></a>
                    <a class="dropdown-item" href=@Url.Action("ChangeRole", "Account", new { id = Model.User.Id, role = "Manager"})> Project Manager<i class="fas fa-male float-right"></i></a>
                    <a class="dropdown-item" href=@Url.Action("ChangeRole", "Account", new { id = Model.User.Id, role = "Developer"})> Developer<i class="fas fa-laptop float-right"></i></a>
                    <a class="dropdown-item" href=@Url.Action("ChangeRole", "Account", new { id = Model.User.Id, role = "Submitter"})> Submitter<i class="fas fa-check float-right"></i></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Current Role: @Model.UserRoles[0]</a>
                </div>


                <div class="info-box mb-3">
                    <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-exclamation-triangle"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Delete User</span>
                    </div>
                    <i class="fas fa-minus-circle float-right"></i>
                    <!-- /.info-box-content -->
                </div>
            </div>
            <div class="col-8">
                <!-- TABLE: ALL TICKETS -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Assigned Projects</h3>
                        <!--Drop downs for filtering-->
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Updated</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Updated</th>
                                    <th>Created</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Assigned Tickets</h3> <!--change for submitters-->
                        <!--Drop downs for filtering-->
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Updated</th>
                                    <th>Created</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                                <tr>
                                    <td>Problem with UI</td>
                                    <td>Jason</td>
                                    <td>High</td>
                                    <td>UI</td>
                                    <td>Active</td>
                                    <td>08/21/18</td>
                                    <td>07/30/17</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>Priority</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                    <th>Updated</th>
                                    <th>Created</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <!-- TABLE: ALL USERS -->
        </div>
    </div>
</section>

<!-- The Modal -->
<div class="modal" id="changeRoleModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <button>Admin</button>
                    </div>
                    <div class="col">
                        <button>Project Manager</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button>Developer</button>
                    </div>
                    <div class="col">
                        <button>Submitter</button>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
